.panel {
  border-radius: 16px;
  padding: 24px 36px;
  box-sizing: border-box;
  height: fit-content;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel > div {
  background-color: #181818;
  border-radius: 8px;
  padding: 8px;
}

.panel ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 8px;
  list-style: none;
  margin: 0;
}

input {
  padding: 8px;
  border-radius: 8px;
}

.panel ul li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdownbtn {
  background-color: #181818;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.dropdownbtn:hover {
  color: gray;
}

.savebtn {
  font-size: 20px;
  padding: 8px 0;
  border-radius: 48px;
  border: none;
  cursor: pointer;
  width: 27%;
  align-self: flex-end;
}
