.section {
  background-color: #181818;
  border-radius: 8px;
  padding: 8px;
  padding-bottom: 16px;
}

.panel ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 8px;
  list-style: none;
  margin: 0;
}

input {
  padding: 8px;
  border-radius: 8px;
}

.panel ul li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdownbtn {
  background-color: #181818;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.dropdownbtn:hover {
  color: gray;
}

.savebtn {
  font-size: 20px;
  padding: 8px 0;
  border-radius: 48px;
  border: none;
  width: 32%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgb(27, 108, 207);
}

.savebtn:hover {
  background-color: rgb(26, 90, 167);
  cursor: pointer;
}

.section > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  padding-bottom: 12px;
  align-items: center;
}

.section > div > div {
  background-color: #222222;
  padding: 8px;
  width: 90%;
  border-radius: 8px;
  justify-content: space-between;
  display: flex;
}

.editbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}