main {
  padding: 36px 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  margin: 8px 0 ;
  display: flex;
  align-items: end;
}

.preview h2 {
  
  font-size: 36px;
}

.preview {
  background-color: white;
  height: 1000px;
  color: black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 55%;
}

.preview h3 {
  margin: 24px 0 0 0;
  border-bottom: 1px solid black;
  font-size: 28px;
}

.preview p {
  margin: 8px 0;
  font-size: 20px;
}

.preview > div {
  box-sizing: border-box;
  width: 88%;
}

.preview > div > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.time-location {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.professional-experience {
  margin-top: 5%;
}

.professional-experience .description {
  margin: -4px 0;
  font-size: 14px;
}

.panel {
  background-color: #181818;
  border-radius: 16px;
  padding: 24px 36px;
  box-sizing: border-box;
  height: fit-content;
  width: 40%;
}

.panel ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px;
  list-style: none;
  margin: 0;
}

.panel ul li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input {
  padding: 8px;
  border-radius: 8px;
}

.dropdownbtn {
  background-color: #181818;
  border: none;
  cursor: pointer;
}

.dropdownbtn:hover {
  color: gray;
}

header {
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  padding: 24px 0;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;

}

header div {
  display: flex;
  width: 95%;
  justify-content: space-around;
}