:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  gap: 36px;
  max-width: 1500px;
  padding: 32px 16px;
  width: 100%;
}

h2 {
  margin: 8px 0;
  display: flex;
  align-items: end;
}

.panel {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 24px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 750px;
  flex-direction: column;
}